// media query定義
$mq-breakpoints: (
  'sp' : 560px,
	'tb': 960px,
);
@mixin mq($breakpoint: tb) {
  @media screen and (max-width: #{map-get($mq-breakpoints, $breakpoint)}) {
    @content;
  }
}

// color定義
$main-color: #008DD5;
$sub-color: #E6F6FF;
$accent-color: #A9D92F;
$font-color: #333;

// パーツ
@mixin link-color{ // ホバーで青くなる
	color: $main-color;
	transition: all .5s ease;
	&:hover{
		background: $main-color;
		color: #fff;
	}
}


// body
* {
	box-sizing: border-box
}
body {
	font-family: 游ゴシック体, YuGothic, "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック, "Yu Gothic", sans-serif;
	font-size: 1rem;
	color: $font-color;
}

// header
.top_body {
	display: flex;
	align-items: center;
	align-content: center;
	position: relative;
  background-image: url("/assets/images/main_visual@2x.jpg");
  background-position: center center;
  background-repeat: no-repeat;
	background-size: cover;
	height: 60vh; //ディスプレイの高さ
}
.img_logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	img {
		max-width: 100%;
		height: auto;
	}
}
.top_ttl_wrap {
	margin: 0 0 0 6.4rem;
	@include mq{
		margin: 0 0 0 3rem;
	}
}
.top_ttl_wrap span{
	display: inline-block;
	position: relative;
	padding: 0.5rem;
	z-index: 2;
	overflow: hidden;
	&:after{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top:0;
		left:0;
		z-index: -1;
		background: #000;
		animation-name: ttl_bg;
		animation-timing-function: ease;
		animation-duration: .5s;
		animation-fill-mode: both;
	}
}
@keyframes ttl_bg {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}
	100% {
		opacity: 1;
	}
}
.top_ttl {
	font-size: 2.5rem;
	@include mq{
		font-size: 1.5rem;
	}
	font-weight: bold;
	color:#fff;
	line-height: 1;
}
.top_circle {
	position: absolute;
	bottom: 13px;
	right: 13px;
	width: 12rem;
	height: 12rem;
	border: $main-color 5px solid;
	border-radius: 50%;
	font-size: 1.25rem;
	font-weight: bold;
	color: $main-color;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	@include link-color;
}

.top_nav ul {
	display: flex;
}
.top_nav li {
	display: flex;
	justify-content: center;
	background: $main-color;
	width: 100%;
	&.nav_form {
		background: $accent-color;
	}
}
.top_nav ul {
	@include mq{
		display: flex;
		flex-wrap: wrap;
		li {
			flex:1 0 50%;
		}
	}
}
.top_nav li a {
	display: block;
	color: #fff;
	padding: 2.0rem;
	transition:opacity 0.5s ease;
	&:hover {
		opacity: 0.7;
	}
}

// main
.main_body {
	max-width: 960px;
	margin: 4rem auto;
	background: #fff;
	@include mq(sp){
		padding: 0 20px;
	}
	&:nth-of-type(even) {
		background-color: $sub-color;
	}
}

@mixin main_ttl_txt {
	position: relative;
	display: inline-block;
	font-size: 2rem;
	font-weight: bold;
	padding: 10px 20px;
	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		border-top: 1rem solid transparent;
		border-right: 1rem solid $main-color;
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		border-bottom: 1rem solid transparent;
		border-left: 1rem solid $main-color;
	}
}
.main_ttl{
	text-align: center;
	&_txt {
		@include main_ttl_txt;
	}
}
.contents_wrap {
	max-width: 600px;
	margin: 2rem auto;
}
.main_news_body a{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1.25rem 0 0 0;
	dt {
		width: 30%;
	}
	dd {
		width: 70%;
	}
	&:hover {
		text-decoration: underline;
	}
}
.main_news_archive{
	margin: 2.5rem 0 0 0;
	label {
		display: block;
		text-align: center;
		color: $main-color;
		font-weight: bold;
		cursor: pointer;
	}
	input {
		display: none;
		&:checked ~ .archive_show {
			height: auto;
			opacity: 1;
		}
	}
	.archive_show{
		height: 0;
		overflow: hidden;
		opacity: 0;
		transition: .5s;
	}
}

// service
.servi