// mixin定義


// color定義
$main-color: #008DD5;
$sub-color: #E6F6FF;
$accent-color: #A9D92F;

// font定義
$font-family: 游ゴシック体, YuGothic, "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック, "Yu Gothic", sans-serif;

// body
body {
	font-family: $font-family;
}

.top_body {
  background-image: url("/assets/images/main_visual@2x.jpg");
  background-position: center center;
  background-repeat: no-repeat;
	background-size: cover;
	height: 40vh; //ディスプレイの高さ
}
.img_logo {
	width: 100px;
	height: 100px;
	img {
		max-width: 100%;
		height: auto;
	}
}
.top_ttl_wrap span{
	display: inline-block;
	position: relative;
	padding: 5px;
	z-index: 2;
	overflow: hidden;
	&:after{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top:0;
		left:0;
		z-index: -1;
		background: #000;
		animation-name: ttl_bg;
		animation-timing-function: ease;
		animation-duration: .5s;
		animation-fill-mode: both;
	}
}
@keyframes ttl_bg {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}
	100% {
		opacity: 1;
	}
}

.top_ttl {
	font-size: 36px;
	font-weight: bold;
	color:#fff;
	line-height: 1.9;
}

.top_circle {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 180px;
	height: 180px;
	border: $main-color 5px solid;
	border-radius: 50%;
	background: #fff;
}
.top_circle_txt {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: $main-color;
}
.top_nav ul {
	display: flex;
	>:last-child {
		margin-left: ;
	}
}
.top_nav li a {
	text-align: center;
	vertical-align: middle;
	background: $main-color;
	width: 100%;
	padding: 20px;
	&.nav_form {
	background: $accent-color;
	margin-left: auto;
	}
}